@import "blog.css";
@import "navbarfooter.css";
@import "imageeffects.css";
@import "reset.css";

.head {
  grid-area: hd;
  color: #191ae6;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.navbar {
  grid-area: nv;
}

.mainpage {
  grid-area: mn;
  padding: 0.5em;
  border: 5px solid yellow;
}

.mainfooter {
  grid-area: ft;
}

.mainsite {
  background-color: #ffffe6;
  margin: 0;
  display: grid;
  grid-gap: 0.5em;
  /*grid-auto-flow:dense;*/
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 40px 100px auto 40px;
  grid-template-areas:
  "nv nv nv nv nv nv nv nv nv nv"
  ". . hd hd hd hd hd hd . ."
  ". . mn mn mn mn mn mn . ."
  "ft ft ft ft ft ft ft ft ft ft";
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  justy-items:center;
}

.head > div:nth-child(2) {
  margin-left: auto;
}

.row {
  display:flex;
  flex-wrap: wrap;
  padding: 0 0px;
}

.column {
  flex: 33%;
  max-width: 32%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.quote {
  font-size: 20px;
  width: 250px;
}

.title {
  font-size: 70px;
}

.overlay {
  justy-items:center;
  font-size: 20px;
}

@media screen and (max-width: 1200px){
  .column {
    flex: 50%;
    /*max-width: 50%;*/
  }
  .title {
  font-size: 40px;
  }
  .quote {
    font-size: 15px;
    width: 150px;
  }
}

@media screen and (max-width: 1060px) and (min-width: 600px){
  .column {
    flex: 50%;
    max-width: 100%;
  }
}


@media screen and (max-width: 600px){
  .column {
    flex: 100%;
    max-width: 100%;
  }
  .quote {
    font-size: 14px;
  }
}
