@import "navbarfooter.css";
@import "imageeffects.css";
@import "reset.css";

.navbar {
  grid-area: nv;
}

.blogheader {
  grid-area: hb;
  width: 100%;
}

.bcontainer {
  grid-area: mb;
  display: flex;
  flex-direction: row;
  border: 5px solid yellow;
  justify-content: center;
  justify-self: center;
}

.blogfooter {
  grid-area: ft;
}

.blogbody {
  background-color: #ffffe6;
  margin: 0;
  color: #191ae6;
  display: grid;
  grid-gap: 0.5em;
  grid-auto-flow:dense;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 40px 100px auto 40px;
  grid-template-areas:
  "nv nv nv nv nv nv nv nv nv nv"
  ". . hb hb hb hb hb hb . ."
  ". . mb mb mb mb mb mb . ."
  "ft ft ft ft ft ft ft ft ft ft";
  font-family: Arial, Helvetica, sans-serif;
}

.blog {
  flex-basis: 80%;
  padding: 5px;
  flex: 1;
  text-align: justify;
  margin: 20px;
}

.aboutme {
  margin-left:auto;
  flex-basis: 20%;
  padding: 5px;
  border: 5px solid yellow;
  text-align: justify;
  justify-content: center;
  justify-self: center;
}


.mepicture {
  border-radius: 75%;
  filter: saturate(3);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
}

.blogpic {
  width: 100%;

}

.blogtitle {
  text-align: left;
  font-size: 50px;
}

.underline {
  text-decoration: underline;
}

@media all and (max-width: 1000px) {
  .bcontainer{
    flex-wrap: wrap;
  }
  .aboutme {
    flex-basis: 100%;
  }
  .blogtitle {
    font-size: 20px;
    }
  }


@media screen and (max-width: 600px) {
  .blogbody {
    grid-template-areas:
    "nv nv nv nv nv nv nv nv nv nv"
    "hb hb hb hb hb hb hb hb hb hb"
    "mb mb mb mb mb mb mb mb mb mb"
    "ft ft ft ft ft ft ft ft ft ft";
  }
  .blogheader {
    padding: 5px;
  }
}
