
.container {
  position: relative;
  width: 100%;
  max-width: 100%;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0);
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 10px;
  text-align: center;
}

.container:hover .overlay {
  opacity: 1;
  cursor: pointer;
}

@media screen and (max-width: 600px){
  .overlay {
    font-size: 15px;
  }
}
