.navbar, .mainfooter {
  background-color: #5a75fa;
  overflow: hidden;
  white-space: nowrap;
  font-family: 'Chelsea Market', cursive, Arial, Helvetica, sans-serif;
}

.navbar a, .mainfooter a{
  display: inline-block;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 500;
}

.navbar a:hover, .mainfooter a:hover {
  background-color: #191ae6;
}

.navbar a {
  float: left;
  display: block;
  line-height: 1;
}


.navbar a.brand {
  align-items: center;
  line-height: 0;
  display: flex;
  flex:1;
  font-weight: 500;
  white-space: nowrap;
  border: none;
  font-size: 1.3rem;
}

.mainfooter  {
  margin: 0px;
  text-align: center;
}

.fa {
  padding: 20px;
  font-size: 40px;
  width: 20%;
  text-align: center;
  text-decoration: none;
}
